@import './mixin';
@import './variable';

.top-header {
    background-color: $colorf8b;
    padding: 20px 0;
}

.bottom-header {
    background-color: $colorfef;
    padding: 10px 0;
}

.topIn {
    @include max-width;
    display: flex;
}
.head-para{
    margin: 0;
    color: $colorfef;
    font-size: 20px;
}
.left-head{
    display: flex;
    width: 50%;
    text-align: left;
}
.schedule, .contact{
    width: 50%;
}
.right-head{
    text-align: right;
    width: 50%;
}
.social-icon{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    margin: 0 5px;
}

.bottomIn {
    @include max-width; 
    display: flex;
}
.bottom-left{
    width: 40%;
}
.waso{
    font-size: 40px;
    color: $colorf8b;
}
.strategy{
    font-size: 40px;
    color: $colordc3;
}
.navigation{
    width: 60%;
    text-align: right;
}
.link-no{
    color: $colorf8b;
    font-weight: 700;
}
.links{
    font-weight: 700;
    color: $color6e6;
}
.links:hover{
    color: $colordc3;
}
.nav-list{
    @include ul;
}
.nav-link{
    display: inline-block;
    padding: 0 20px ;
}
.link-text{
    text-decoration: none;
}