@import './mixin';
@import './variable';

#slider{
    position: relative;
}
.slide:first-child{
    display: block;
}
.slide{
    width: 100%;
    height: 600px;
}
.slider-button{
    position: absolute;
    bottom: 50px;
    right: 75px;
}
.btn{
    font-size: 60px;
    color: $colorfef;
    cursor: pointer
}
.consultancy{
    @include max-width;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.ceo-prof, .about-ceo{
    width: 49%;
}
.ceo-img{
    width: 100%;
    width: 100%;
    float: left;
    @include box-shadow;
}
.about-ceo{
    display: flex;
    flex-direction: column;
justify-content: space-between;
}
.history{
    height: 58%;
    @include box-shadow;
}
.aboutInfo{
    padding: 55px;
}
.aboutInfo h2{
    font-size: 40px;
    margin: 0;
}
.aboutInfo h4{
    font-size: 25px;
    margin: 10px 0;
}
.aboutInfo p{
    font-size: 20px;
}
.pageno{
    font-weight: 600;
    font-size: large;
}
.about-pageno{
    color: $colordc3;
    margin-bottom: 5px;
}
.join{
    height: 38%;
    display: flex;
    justify-content: space-between;
}
.invitation{
    width: 48%;
    color: $colorfef;
    background-color: $colordc3;
    @include box-shadow;
}
.invitation strong{
    font-size: 25px;
}
.join-button{
    padding: 15px 30px;
    color: $colorfef;
    background-color: $colorf8b;
    border-radius: 30px;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
}
.join-button:hover{
    background-color: $colorfef;
    color: black;
}
.join-btn{
    margin-top: 50px;
}
.info{
    width: 48%;
    color: $colorfef;
    background-color:$colorf8b;
    @include box-shadow;
}
.info strong, p{
    font-size: 25px;
}
.join-inside{
    padding: 50px 0px 40px 40px;
}
