
body{
    background: #1b1b1b;
}.template{
    max-width: 550px;
    width: 100%;
    margin: 90px auto;
    text-align: center;
    background-color: #2b335f5e;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 6px 6px 16px -9px #fefefe;
    height: 330px;
    display: grid;
    place-items: center;
}
.wrapper{
    display: grid;
    place-content: center;
    place-items: center;
}
.inp{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 10px 30px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}
.inp:focus,
.btn:focus{
    border: 5px outset greenyellow;
}
.button{
    margin: 25px 0;
    text-align: center;
}
.inp, .btn{
    border: none;
    outline: none;
}
.btn{
   
    width: 100px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 5px;
}
#result{
    width: 60%;
}
.solution{
    display: flex;
    justify-content: space-around;
    border: 1px solid greenyellow;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0 70px;
    color: greenyellow;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
}