.top-header {
  background-color: #f8bf0d;
  padding: 20px 0; }

.bottom-header {
  background-color: #fefefe;
  padding: 10px 0; }

.topIn {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex; }

.head-para {
  margin: 0;
  color: #fefefe;
  font-size: 20px; }

.left-head {
  display: flex;
  width: 50%;
  text-align: left; }

.schedule, .contact {
  width: 50%; }

.right-head {
  text-align: right;
  width: 50%; }

.social-icon {
  background-color: white;
  padding: 5px 8px;
  border-radius: 15px;
  margin: 0 5px; }

.social-icon .link-text:hover {
  color: #f8bf0d; }

.bottomIn {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex; }

.bottom-left {
  width: 16%; }

.waso {
  font-size: 40px;
  color: #f8bf0d; }

.strategy {
  font-size: 40px;
  color: #dc3748; }

.navigation {
  width: 84%;
  text-align: right; }

.link-no {
  color: #f8bf0d;
  font-weight: 700; }

.links {
  font-weight: 700;
  color: #6e6e6e; }

.links:hover {
  color: #dc3748; }

.nav-list {
  margin: 0;
  padding: 0; }

.nav-link {
  display: inline-block;
  padding: 0 20px; }

.link-text {
  text-decoration: none; }

#slider {
  position: relative; }

.slide:first-child {
  display: block; }

.slide {
  width: 100%;
  height: 600px; }

.slider-button {
  position: absolute;
  bottom: 50px;
  right: 75px; }

.btn {
  font-size: 60px;
  color: #fefefe;
  cursor: pointer; }

.consultancy {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between; }

.ceo-prof, .about-ceo {
  width: 49%; }

.ceo-img {
  width: 100%;
  width: 100%;
  float: left;
  box-shadow: 0 0 30px -8px grey;
  border-radius: 20px; }

.about-ceo {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.history {
  height: 58%;
  box-shadow: 0 0 30px -8px grey;
  border-radius: 20px; }

.aboutInfo {
  padding: 55px; }

.aboutInfo h2 {
  font-size: 40px;
  margin: 0; }

.aboutInfo h4 {
  font-size: 25px;
  margin: 10px 0; }

.aboutInfo p {
  font-size: 20px; }

.pageno {
  font-weight: 600;
  font-size: large; }

.about-pageno {
  color: #dc3748;
  margin-bottom: 5px; }

.join {
  height: 38%;
  display: flex;
  justify-content: space-between; }

.invitation {
  width: 48%;
  color: #fefefe;
  background-color: #dc3748;
  box-shadow: 0 0 30px -8px grey;
  border-radius: 20px; }

.invitation strong {
  font-size: 25px; }

.join-button {
  padding: 15px 30px;
  color: #fefefe;
  background-color: #f8bf0d;
  border-radius: 30px;
  font-size: larger;
  font-weight: 600;
  cursor: pointer; }

.join-button:hover {
  background-color: #fefefe;
  color: black; }

.join-btn {
  margin-top: 50px; }

.info {
  width: 48%;
  color: #fefefe;
  background-color: #f8bf0d;
  box-shadow: 0 0 30px -8px grey;
  border-radius: 20px; }

.info strong, p {
  font-size: 25px; }

.join-inside {
  padding: 50px 0px 40px 40px; }

.body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
