.top-header {
  background-color: #f8bf0d;
  padding: 20px 0; }

.bottom-header {
  background-color: #fefefe; }

.topIn {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex; }

.head-para {
  margin: 0;
  color: #fefefe;
  font-size: 20px; }

.left-head {
  display: flex;
  width: 50%;
  text-align: left; }

.schedule, .contact {
  width: 50%; }

.right-head {
  text-align: right;
  width: 50%; }

.social-icon {
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  margin: 0 5px; }

.bottomIn {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex; }

.bottom-left {
  width: 50%; }

.navigation {
  width: 50%; }

.nav-list {
  margin: 0;
  padding: 0; }

.nav-link {
  display: inline-block;
  padding: 0 20px; }

.link-text {
  text-decoration: none; }

.body {
  margin: 0px; }
