body{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.stopwatch{
    background-color: #020024;
    padding: 70px 100px;
    color: snow;
}
.outer{
    background-color: #474b4e;
    padding: 20px;
    border-radius: 100%;
}
.inner{
    background-color: #020024;
    border-radius: 100%;
    padding: 60px;
    text-align: center;
    position: relative;
}
.show-hour{
    font-size: 50px;
}
.min-sec{
    font-size: 30px;
}
.milisec{
    font-size:20px ;
    padding-left: 40px;
}
.btn-1{
    position: absolute;
    left: 15px;
    bottom: 95px;
    border-radius: 30px;
    font-size: 35px;
    padding: 5px 15px;
}
.btn-2{
    position: absolute;
    right: 15px;
    bottom: 95px;
    border-radius: 30px;
    font-size: 35px;
    padding: 5px 15px;
}
button{
    cursor: pointer;
}




