.template{
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: slategrey;
    padding: 15px 0;
    border-radius: 15px;
    box-shadow: 0 0 15px 1px slategrey;
}
.inp{
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
.button{
    margin: 25px 0;
    text-align: center;
}
.btn{
    width: 100px;
}
#result{
    width: 60%;
}
.solution{
    display: flex;
    justify-content: space-around;
    border: 1px solid greenyellow;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0 70px;
    color: greenyellow;
}