.container-1 {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background-color: lemonchiffon;
  box-shadow: 0px 0px 10px 2px grey;
  border-radius: 5px;
  border: 1px solid 0; }

.flex {
  display: flex !important;
  justify-content: space-between !important; }

.solution {
  width: 97%;
  height: 20px;
  text-align: center;
  display: flex !important;
  justify-content: space-around !important;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px grey inset; }

.pad {
  padding: 10px 5px; }
