body{
    display: grid;
    place-items: center;
    background-color: cornflowerblue;
}
.slide {
    width: 100%;
    height: 350px;
}
.component{
    width: 800px;
    height: 500px;
    background: antiquewhite;
    display: grid;
    place-items: center;
    border-radius: 10px;
    background-color:#fefefe ;
    margin-top: 70px;
    box-shadow: 0px 0px 10px 1px #71707099;
}
.slide:first-child {
    display: block;
}

.slider_container {
    position: relative;
    width: 625px;
}
button{
    border-radius: 100%;
    padding:25px;
    position: absolute;
    top: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fefefe;
    box-shadow: 0px 0px 5px 1px #a09d9d99;
}
.prev{
    left: -90px;
    transform: translateX(-50%);
}
.next{
    right: -90px;
    transform: translateX(50%);
}
