@import './mixin';
@import './variable';

.footer{
    @include resolution;
    padding: 40px 0;
background-color: $color333;
color: $colorf4f;
}
.footer-nav, .partners, .social, .address, .copyright, .accreditation{
padding-bottom: 25px;
text-align: center;
}
.footer-list{
    margin: 0;
    padding: 0;
}
.footer-link{
    display: inline-block;
    padding: 0 20px;
}
.footer-text{
    text-decoration: none;
    color: $colorf4f;
}
.partners{
    display: flex;
    justify-content: center;
}
.partners-head{
    color: $color8d8;
}
.partners-list{
    padding: 0 10px;

}

.social-icon{
    padding: 0 2px;
}

.address-title{
    margin-bottom: 0ch;
}
.address-details{
    margin: 0;
}

.copyright{
    color: $color8d8;
}
.notice{
   color: $colorf4f;
   text-decoration: underline;
}
