@import './mixin';
@import './variable';
@import './scss/header';
@import './scss/main';
@import './scss/footer';

@media screen and (min-width:320px) and (max-width:767px) {
.nav-link{
    display: none;
}
.members, .docpharm, .contact, .inp, .last-nav{
    display: inline-block;
}
    .nav-drop{
        display: inline-block !important;
    }
}