@import './mixin';
@import './variable';
@import './scss/header';
@import './scss/main';
@import './scss/footer';

@media screen and (min-width:320px) and (max-width:767px) {
    .nav-drop {
        display: inline-block !important;
    }
.employers, .providers, .producers, .company{
    display: none;
}
.nav-bar-l{
    float: left;
    width: 50%;
}
.nav-bar-m{
    float: right;
    width: 50%;
}
.nav-bar-r{
width: 100%;
text-align: right;
}
.logo{
    position: relative;
}
.menubar{
    display: block;
    font-size: 50px;
    position: absolute;
    right: 20px;
    top: 17px;
}
.site-link{
    display: none;
}
.banner-over{
    display: none;
}
.highlight{
    display: block;
    margin: 0;
}
.article-img{
    width: 100%;
}
.artic-img{
    width: 100%;
}
.button1, .button2, .button3{
    display: none !important;
}
.benif-link{
    width: 100%;
}
figcaption{
    padding-top: 15px;
}
.benifimage{
    float: left;
    
}
//footer
.footer{
    font-size: larger;
}
.footer-link{
    display: block;
    padding: 10px 0;
}
.partners{
    display: block;
    padding-bottom: 35px;
}
.s-img{
    width: 50px;
}
.copyright{
    padding: 0 157px;
}
.notice{
    padding: 20px 0;
}
}