@import './mixin';
@import './variable';
@import './scss/header';
@import './scss/main';
@import './scss/footer';


@media screen and (min-width:320px) and (max-width:767px) {
    .nav-drop {
        display: inline-block !important;
    }
.employers, .providers, .producers, .company{
    display: none;
}
.left-nav{
    width: 100%;
    padding: 15px 0;
    .nav-bar-l{
        width: 30%;
    }
    .nav-bar-m{
        width: 70%;
    }
}
.nav-bar-r{
width: 100%;
}
.last-nav{
    padding-top: 15px;
}
.search-icon{
    right: 20px;
    top: 20px;
}
.inp{
    width: 100%;
}
.input{
    padding: 20px 20px;
    width: 92%;
}
.logo{
    position: relative;
}
.menubar{
    display: block !important;
    font-size: 50px;
    position: absolute;
    right: 20px;
    top: 17px;
}
//main
.site-link{
    display: none;
}

.banner-over{
    display: none;
}
.slogan{
    font-size: 40px;
}
.brandvalue{
    font-size: 29px;
}
.headrule{
    width: 140px;
    margin-top: 70px;
}
.highlight{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 100px;
}
.article-img, .article-data{
    width: 100%;
}
.artic-img{
  width: 100%;
    margin-bottom: 25px !important;
}
.turning26 {
    padding: 50px 0 1px 50px;
}
.turning26-heading{
    font-size: 50px;
}
.turning26-info{
    font-size: 30px;
}
.more{
    font-size: 25px;
    font-weight: 700;
}
.button-1, .button-2, .button-3{
    display: none !important;
}
.row{
    flex-direction: column;
}
.que-para {
    padding: 70px 30px 0 30px;
    text-align: left;
}
.second{
    font-size: 45px;
}
.second-info{
    font-size: 27px;
}

.benif-link{
    width: 100%;
}
figcaption{
    padding-top: 15px;
}
.benifimage{
    float: left;
    
}
.analytics{
    padding: 0 30px;
}
.country-record{
    display: block;
    margin-top: 10px;
    .column{
        width: 100%;
        height: 300px;
    }
}
.image2{
    height: 300px;
}
.ratings{
    font-size: 90px;
}
.column:first-child{
    border-bottom: 1px solid gray;
}
.globe-record{
    display: block;
    margin-top: 10px;
    .columns{
        width: 100%;
        height: 300px;
    }
}
.image3{
    height: 300px;
    float: left;
}
.find{
    display: block;
    padding: 60px 15px;
}
.finddoc{
    padding-bottom: 15px;
}
.contact-service{
    display: block;
    padding: 5px 60px;
    .wrap{
        padding: 15px 0;
        justify-content: center;
    }
}
.wrap:first-child{
    border-right: none;
    border-bottom: 1px solid black;
}
//footer
.footer{
    font-size: larger;
}
.footer-link{
    display: block;
    padding: 10px 0;
}
.partners{
    display: block;
    padding-bottom: 35px;
}
.s-img{
    width: 50px;
}
.copyright{
    padding: 0 157px;
}
.notice{
    padding: 20px 0;
}
}