li:first-child{
    display: inline-block;
   color: aliceblue;
    background-color:black;
    font-size: larger;
    cursor: pointer;
}
.active{
    display: none;
    background-color: burlywood;
    color: cyan;

}